<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>

<style>
    tr:nth-child(odd) {
        background-color: antiquewhite;
    }
</style>

<body>

    {{{body}}}

</body>

</html>