<table style="width:50%">
    <h2>Landesverband</h2>
    <tr>
        <th>Id</th>
        <th>name</th>
    </tr>
    {{#each this.data.landesverband}}
    <tr>
        <td align="center">{{this.id}}</td>
        <td align="center">{{this.name}}</td>
    </tr>
    {{/each}}
</table>